<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="uaa.dao.UserDao">
    <select id="queryByName" parameterType="string" resultType="uaa.entity.User">
        select id, username, password
        from user
        where username = #{name}
    </select>
</mapper>